@import url('../../../css-config/mixins.scss');


//definig mixins
@mixin tablet {
    @media (max-width: 1156px) {
        @content;
    }
}

@mixin laptop {
    @media (max-width: 990px) {
        @content;
    }
}

@mixin tablet-portrait {
    @media (max-width: 920px) {
        @content;
    }
}

@mixin mobile-landscape {
    @media (max-width: 865px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 690px) {
        @content;
    }
}

@mixin small-mobile {
    @media (max-width: 615px) {
        @content;
    }
}

@mixin extra-small-mobile {
    @media (max-width: 500px) {
        @content;
    }
}

@mixin ultra-small-mobile {
    @media (max-width: 435px) {
        @content;
    }
}













.body-container {
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    /* margin-top: 6%; */
}

.body-container h1 {
    font-size: 50px;

    @include small-mobile {
        text-align: center;
        padding-bottom: 10px;
    }

    @include extra-small-mobile {
        text-align: center;
        padding-bottom: 10px;
        font-size: 45px;
    }
}

.body-sub1 {
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
        display: flex;
        flex-direction: column;
    }
}

.section1 {
    margin-top: 2%;
    border: 2px solid rgba(255, 255, 255, 0.721);
    border-radius: 15px;
    overflow: hidden;
}

.doen-section1 {
    padding: 20px;
}

.head-section1 {
    background-color: rgba(0, 0, 0, 0.372);
    height: 100%;

    @include mobile {
        text-align: center;
    }
}

.head-section1 p {
    padding: 30px;
    font-weight: 600;
    font-size: 25px;

    @include small-mobile {
        font-size: 20px;
    }
}

.user {
    padding-bottom: 20px;
}

.inner-user {
    line-height: 15px;
    padding-left: 10px;

    @include extra-small-mobile {
        padding-top: 3px;
    }
}

.inner-user p {
    font-weight: 500;
    font-size: 18px;

    @include extra-small-mobile {
        font-size: 13px;
    }
}

.inner-user p i {
    @include extra-small-mobile {
        font-size: 13px;
    }
}

.btn {
    font-weight: 500;
    padding: 0.6rem 1.4rem;
    /* background: linear-gradient(#dfdc5d, #c2d054) !important; */
    border: none;
    border-radius: 4px;
    transition: all 100ms ease-in;
    color: rgb(255, 255, 255) !important;
    font-size: 20px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-nav {
    font-weight: 500;
    padding: 0.6rem 1.4rem;
    /* background: var(--gr); */
    border: none;
    border-radius: 4px;
    transition: all 300ms ease-in;
    color: rgb(255, 255, 255) !important;
    font-size: 15px;
}

.btn-nav:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;
}

.user1 {
    display: flex;
    gap: 20px;
    justify-content: space-between;

    @include mobile {
        display: block;
    }
}

.user1 img {
    width: 300px;
}

.bottom-section2 {
    padding-top: 30px;

    @include small-mobile {
        padding-top: 5px;
    }
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 270px !important;
    padding-top: 45px !important;

    @include mobile-landscape{
        padding-top: 0 !important;
        padding-bottom: 45px !important;
    }
}

.section2 .sec2-sub2 p,
i {
    font-size: 15px;
    /* color: #c4da1c; */
    text-shadow: 1 0 1px black;

    @include extra-small-mobile {
        font-size: 13px;
    }

    @include ultra-small-mobile {
        font-size: 10px;
    }
}

.section3 {
    background: #ffffff;
    padding: 20px;
    height: 100%;

    @include mobile-landscape {
        height: 100%;
    }
}

.section3 .sec-3-sub1 {
    display: flex;
    justify-content: space-evenly;
    height: 100%;

    @include mobile-landscape {
        display: flex;
        gap: 10%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

.card {
    padding: 10px;
    height: fit-content;
    width: 30%;
    margin-top: -13%;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    transition: all 220ms ease-in;

    @include mobile-landscape {
        padding: 20px;
        height: fit-content;
        width: 85%;
        box-shadow: 0 0 15px black;
        margin-top: 5%;
    }
}

.card:hover {
    transform: scale(1.04);
    box-shadow: 0 4px 20px black;
}

.card img {
    border-radius: 5px;
}

.small {
    color: rgb(54, 54, 57);
    font-weight: 600;
    font-size: 15px;
    padding-top: 10px;

    @include mobile-landscape {
        font-size: 30px;
        padding-bottom: 10px;
        font-weight: 600;
    }

    @include mobile {
        font-size: 20px;
    }
    @include ultra-small-mobile{
        font-size: 15px;
    }
}

.sub-small {
    color: black;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;

    @include mobile-landscape {
        font-size: 25px;
        padding-bottom: 20px;
    }

    @include mobile {
        font-size: 20px;
    }
    @include ultra-small-mobile{
        font-size: 13px;
    }
}

.sec3-desc {
    color: rgb(33, 33, 117);
    font-weight: 500;
    line-height: 25px;

    @include mobile-landscape {
        font-size: 45px;
        font-weight: 600;
        padding-bottom: 10px;
    }
}

.footer-top-main {
    padding-top: 50px;
    height: 100%;
}

/* 
.icons{
    width: 100%;
} */
.footer-top-main .icons {
    @include mobile {
        display: flex;
        justify-content: space-evenly;
    }

    @include small-mobile {
        display: flex;
        justify-content: space-evenly;
    }

    @include extra-small-mobile {
        display: flex;
        justify-content: space-evenly;
    }
}

.footer-top-main .icons a {
    float: right;
    padding-right: 25px;
    font-weight: 600;

    @include mobile {
        padding-right: 0;
    }

    @include small-mobile {
        padding-right: 0;
    }

    @include extra-small-mobile {
        padding-right: 0;
    }
}

.footer-top-main .icons a i {
    font-size: 18px;
    color: rgb(25, 24, 24);
    transition: all 100ms ease-in;
}

.footer-top-main .icons a:hover i {
    color: rgb(65, 67, 70);
    scale: 1.3;
}

.footer-sub-main {
    display: flex;
    justify-content: space-evenly;

    @include tablet-portrait {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include extra-small-mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.footer-sub-main h4 {
    color: rgb(45, 45, 105);
    font-weight: 600;
}

.footer-sub-main a {
    text-decoration: none;
    color: rgb(97, 96, 96);
    font-weight: 500;
}

.footer-sub-main a:hover {
    color: rgb(54, 28, 220);
}

.footer-bottom-main {
    display: flex;
    justify-content: space-between;

    @include mobile-landscape {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.footer-bottom-subsec1 {
    @include mobile-landscape {
        display: block !important;
    }
}

.footer-bottom-subsec1 a {
    text-decoration: none;
    color: rgb(136, 136, 136);
}

.footer-bottom-subsec1 a:hover {
    color: rgb(54, 28, 220);
}

.footer-bootom-subsec2 p {
    color: rgb(136, 136, 136);

    @include mobile-landscape {
        text-align: end;
    }
}

.diff-email:hover {
    text-decoration: underline;
    color: sol;
}

.diff-email i {
    color: #e2062e !important;
}

/* new  */
.btn span i {
    font-size: 1.2rem !important;
}

.login-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

    @include mobile {
        display: flex;
        flex-direction: column;
    }

    @include extra-small-mobile {
        width: 100%;
        padding-top: 0;
    }
}

.slogaan {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-size: 1.4rem;

    @include mobile-landscape {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        font-size: 19px;
    }

    @include small-mobile {
        font-size: 15px;
    }

    @include extra-small-mobile {
        padding-top: 5px;
    }

    @include ultra-small-mobile {
        font-size: 12px;
    }
}

.banner-main-1 {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.banner-main-1 {
    padding-top: 10px;
    padding-bottom: 250px;
}

.banner-back {
    background: #131618;
    display: flex;
    justify-content: center;
    padding: 5%;
    padding-bottom: 150px;

    @include mobile-landscape {
        padding-bottom: 100px;
    }
}

.banner-main-1 .image-container {
    width: 90%;
    margin-top: -20%;
}

.image-container {
    display: inline-block;
    border: 4px solid;
    border-image: linear-gradient(to right, #e2062e, #0b5adb);
    border-image-slice: 1;
}

.image-container img {
    display: block;
    width: 100%;
}

.section2-main {
    margin-top: -15%;

    @include tablet {
        padding-top: 20px;
        padding-bottom: 220px;
    }

    @include mobile-landscape {
        margin-top: -30%;
    }

    @include mobile {
        margin-top: -35%;
    }

    @include extra-small-mobile {
        margin-top: -50%;
    }

    @include ultra-small-mobile {
        margin-top: -60%;
        padding-bottom: 0;
    }
}

.description-section {
    padding: 4%;
    padding-bottom: 300px;
    margin-top: -15%;
    display: flex;
    justify-content: space-evenly;
    gap: 4%;

    @include mobile-landscape {
        padding: 12%;
        padding-bottom: 300px;
        margin-top: -30%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 4%;
    }

    @include extra-small-mobile {
        margin-top: -45%;
    }

    @include ultra-small-mobile {
        margin-top: -60%;
    }
}

.des-sub-sec {
    width: 50%;
    padding: 4%;

    @include mobile-landscape {
        width: 100%;
    }
}

.des-sub-sec h3 {
    color: #212529;
    font-weight: 600;
    font-size: 2.2rem;
    text-shadow: 0 0 1px black;

    @include laptop {
        font-size: 1.8rem;
    }
}

.lr-sub-desc p {
    font-size: 1rem;
    color: #ffffff;
    font-weight: 500;
}

.body-container .body-sub1 .built {
    color: var(--solid) !important;
}



// new 

.lr-sub-desc .btn {
    @include tablet {
        font-size: 0.8rem;
    }

    @include mobile-landscape {
        font-size: 1rem;
        font-weight: 600;
    }

    @include extra-small-mobile {
        font-size: 0.8rem;
    }
    @include ultra-small-mobile() {
        font-size: 0.6rem;
    }
}

.body-sub1 h1 {
    @include laptop {
        font-size: 40px;
    }

    @include mobile-landscape {
        font-size: 35px;
    }

    @include mobile {
        font-size: 45px;
    }

    @include small-mobile {
        font-size: 37px;
    }

    @include extra-small-mobile {
        font-size: 30px;
    }
}

.footer-sub-main .footer-subsec {
    @include tablet-portrait {
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.right-description {
    @include mobile-landscape {
        margin-top: 10%;
    }
}

.des-sub-sec h3 {
    @include mobile-landscape {
        font-size: 2.0rem;
    }
}

.lr-sub-desc p {
    @include mobile-landscape {
        font-size: 1rem;
    }
    @include ultra-small-mobile{
        font-size: 0.7rem;
    }
}

.left-mid-subsec {
    @include mobile-landscape {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.section2 {
    @include mobile-landscape {
        padding-bottom: 35px;
    }
}

.mid-section1 {
    @include mobile-landscape {
        display: block !important;
    }
}

.login-btns .but-2 a {
    @include mobile-landscape {
        font-size: 15px;
    }

    @include ultra-small-mobile {
        font-size: 11px;
    }
}

.login-btns .but-2 {
    @include mobile-landscape {
        width: 80%;
    }

    @include mobile {
        width: 80%;
    }
}

.login-btns .but-2 button {
    @include mobile {
        font-size: 20px;
        width: 100%;
    }

    @include small-mobile {
        font-size: 15px;
    }

    @include extra-small-mobile {
        font-size: 13px !important;
        font-weight: 600 !important;
    }
}

.card .decs-con h3 {
    @include mobile {
        font-size: 35px;
    }
    @include ultra-small-mobile{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: -18px;
        margin-top: -5px;
    }
}

.bottom-section2 a {
    @include mobile {
        font-weight: 500;
    }
}

.right-mid-subsec p {
    @include mobile {
        font-size: 17px;
        text-align: center;
    }
}

.left-mid-subsec img {
    @include mobile {
        padding-bottom: 20px;
    }
}

.btn span i {
    @include extra-small-mobile {
        font-size: 1rem !important;
    }
}

.head-section1 p {
    @include extra-small-mobile {
        font-size: 17px;
        padding: 15px;
    }

    @include ultra-small-mobile {
        font-size: 15px;
    }
}

.inner-user .user-sub-name {
    @include extra-small-mobile {
        font-size: 15px;
    }
}

.sec2-sub1 h2,
.sec2-sub1 h3 {
    @include extra-small-mobile {
        font-size: 20px;
    }
}

.footer-bottom-subsec1 p,
.footer-bootom-subsec2 p {
    @include extra-small-mobile {
        font-size: 10px;
    }
}

.login-btns .se-b {
    @include ultra-small-mobile {
        font-size: 12px !important;
    }
}

.banner-back {
    @include ultra-small-mobile {
        padding-bottom: 50px;
    }
}

.card .but-1{
    @include ultra-small-mobile {
        height: 50px;
    }
}

.card button{
    @include ultra-small-mobile {
        height: auto;
        padding: 0;
        margin: 0;
        margin-top: -6px;
    }
}

.des-sub-sec h3 {
    @include ultra-small-mobile {
        font-size: 1.6rem;
    }
}
.navbar-collapse form a {
    @include ultra-small-mobile {
        font-size: 0.7rem;
    }
}
// new end





















/* responsive */
// @media (max-width:1156px) {
//     .lr-sub-desc .btn {
//         font-size: 0.8rem;
//     }
// }

// .section2-main {
//     padding-top: 20px;
//     padding-bottom: 220px;
// }

// @media (max-width:990px) {
//     .des-sub-sec h3 {
//         font-size: 1.8rem;
//     }

//     .body-sub1 h1 {
//         font-size: 40px;
//     }
// }

// @media (max-width:920px) {
//     .footer-sub-main {
//         display: grid;
//         grid-template-columns: 1fr 1fr 1fr;
//     }

//     .footer-sub-main .footer-subsec {
//         padding-bottom: 20px;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//     }
// }

// @media (max-width:865px) {
//     .banner-back {
//         padding-bottom: 100px;
//     }

//     .description-section {
//         padding: 12%;
//         padding-bottom: 300px;
//         margin-top: -30%;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-evenly;
//         gap: 4%;
//     }

//     .des-sub-sec {
//         width: 100%;
//     }

//     .right-description {
//         margin-top: 10%;
//     }

//     .des-sub-sec h3 {
//         font-size: 2.0rem;
//     }

//     .lr-sub-desc p {
//         font-size: 1rem;
//     }

//     .lr-sub-desc .btn {
//         font-size: 1rem;
//         font-weight: 600;
//     }

//     .left-mid-subsec {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }

//     .section3 {
//         height: 100%;
//     }

//     .section3 .sec-3-sub1 {
//         display: flex;
//         gap: 10%;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         height: 100%;
//     }

//     .card {
//         padding: 20px;
//         height: fit-content;
//         width: 85%;
//         box-shadow: 0 0 15px black;
//         margin-top: 5%;
//     }

//     .small {
//         font-size: 30px;
//         padding-bottom: 10px;
//         font-weight: 600;
//     }

//     .sec3-desc {
//         font-size: 45px;
//         font-weight: 600;
//         padding-bottom: 10px;
//     }

//     .sub-small {
//         font-size: 25px;
//         padding-bottom: 20px;
//     }

//     .section2 {
//         padding-bottom: 35px;
//     }

//     .mid-section1 {
//         display: block !important;
//     }

//     .footer-bottom-subsec1 {
//         display: block !important;
//     }

//     .footer-bottom-main {
//         display: grid;
//         grid-template-columns: 1fr 1fr;
//     }

//     .footer-bootom-subsec2 p {
//         text-align: end;
//     }

//     /* new */
//     .login-btns .but-2 a {
//         font-size: 15px;
//     }

//     .body-sub1 h1 {
//         font-size: 35px;
//     }

//     .login-btns .but-2 {
//         width: 80%;
//     }

//     .slogaan {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         padding-top: 20px;
//         font-size: 19px;
//     }

//     .section2-main {
//         margin-top: -30%;
//     }
// }

// @media (max-width:690px) {
//     .body-sub1 {
//         display: flex;
//         flex-direction: column;
//     }

//     .body-sub1 h1 {
//         font-size: 45px;
//     }

//     .login-btns {
//         display: flex;
//         flex-direction: column;
//     }

//     .login-btns .but-2 button {
//         font-size: 20px;
//         width: 100%;
//     }

//     .login-btns .but-2 {
//         width: 80%;
//     }

//     .card .decs-con h3 {
//         font-size: 35px;
//     }

//     .card .decs-con .small {
//         font-size: 20px;
//     }

//     .card .decs-con .sub-small {
//         font-size: 20px;
//     }

//     .bottom-section2 a {
//         font-weight: 500;
//     }

//     .user1 {
//         display: block;
//     }

//     .right-mid-subsec p {
//         font-size: 17px;
//         text-align: center;
//     }

//     .left-mid-subsec img {
//         padding-bottom: 20px;
//     }

//     .head-section1 {
//         text-align: center;
//     }

//     .footer-top-main .icons {
//         display: flex;
//         justify-content: space-evenly;
//     }

//     .footer-top-main .icons a {
//         padding-right: 0;
//     }

//     .section2-main {
//         margin-top: -35%;
//     }
// }

// @media (max-width:615px) {
//     .body-sub1 h1 {
//         font-size: 37px;
//     }

//     .login-btns .but-2 button {
//         font-size: 15px;
//     }

//     .slogaan {
//         font-size: 15px;
//     }

//     .head-section1 p {
//         font-size: 20px;
//     }

//     .body-container h1 {
//         text-align: center;
//         padding-bottom: 10px;
//     }

//     .bottom-section2 {
//         padding-top: 5px;
//     }

//     .footer-top-main .icons {
//         display: flex;
//         justify-content: space-evenly;
//     }

//     .footer-top-main .icons a {
//         padding-right: 0;
//     }
// }

// @media (max-width:500px) {
//     .lr-sub-desc .btn {
//         font-size: 0.8rem;
//     }

//     .description-section {
//         margin-top: -45%;
//     }

//     .login-btns {
//         width: 100%;
//         padding-top: 0;
//     }

//     .login-btns button {
//         font-size: 13px !important;
//         font-weight: 600 !important;
//     }

//     .btn span i {
//         font-size: 1rem !important;
//     }

//     .body-sub1 h1 {
//         font-size: 30px !important;
//     }

//     .slogaan {
//         padding-top: 5px;
//     }

//     .head-section1 p {
//         font-size: 17px;
//         padding: 15px;
//     }

//     .body-container h1 {
//         text-align: center;
//         padding-bottom: 10px;
//         font-size: 45px;
//     }

//     .inner-user {
//         padding-top: 3px;
//     }

//     .inner-user p,
//     .inner-user p i {
//         font-size: 13px;
//     }

//     .inner-user .user-sub-name {
//         font-size: 15px;
//     }

//     .sec2-sub1 h2,
//     .sec2-sub1 h3 {
//         font-size: 20px;
//     }

//     .sec2-sub2 p {
//         font-size: 13px !important;
//     }

//     .footer-sub-main {
//         display: grid;
//         grid-template-columns: 1fr 1fr;
//     }

//     .footer-top-main .icons {
//         display: flex;
//         justify-content: space-evenly;
//     }

//     .footer-top-main .icons a {
//         padding-right: 0;
//     }

//     .footer-bottom-subsec1 p,
//     .footer-bootom-subsec2 p {
//         font-size: 10px;
//     }

//     .section2-main {
//         margin-top: -50%;
//     }
// }

// @media (max-width:435px) {
//     .description-section {
//         margin-top: -60%;
//     }

//     .login-btns .se-b {
//         font-size: 12px !important;
//     }

//     .login-btns .but-2 a {
//         font-size: 11px;
//     }

//     .section2-main {
//         margin-top: -60%;
//         padding-bottom: 0;
//     }

//     .banner-back {
//         padding-bottom: 50px;
//     }

//     .slogaan {
//         font-size: 12px;
//     }

//     .head-section1 p {
//         font-size: 15px;
//     }

//     .sec2-sub2 p {
//         font-size: 10px !important;
//     }

//     .card .decs-con h3 {
//         font-size: 20px;
//         font-weight: 600;
//         margin-bottom: -18px;
//         margin-top: -5px;
//     }

//     .card .decs-con .small {
//         font-size: 15px;
//     }

//     .card .decs-con .sub-small {
//         font-size: 13px;
//     }

//     .card .but-1 {
//         height: 50px;
//     }

//     .card button {
//         height: auto;
//         padding: 0;
//         margin: 0;
//         margin-top: -6px;
//     }

//     .lr-sub-desc .btn {
//         font-size: 0.6rem;
//     }

//     .lr-sub-desc p {
//         font-size: 0.7rem;
//     }

//     .des-sub-sec h3 {
//         font-size: 1.6rem;
//     }

//     .navbar-collapse form a {
//         font-size: 0.7rem;
//     }
// }