.bt-2 #dms-btn .modal-body-dms {
    line-height: normal;
    padding: 3%;
    padding-top: 1%;
    margin: 3%;

    .dms-main .dms-main-inner {
        .btn-bar button {
            font-size: 13px;
            float: left;
            padding: 0;
            margin: 0;
            font-weight: 600;
        }

        .btn-bar button i {
            font-size: 15px;
            float: left;
            font-weight: 600;
        }

        .btn-bar p {
            font-size: 13px;
            float: left;
            margin: 0;
            font-weight: 600;
            opacity: 0.9;
        }

        .dm-search-content {
            border: 1px solid #78757580;
            ;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 5%;
            padding-right: 5%;
        }

        .dm-search-content input {
            border: none;
            background-color: transparent;
            opacity: 0.8;
        }

        .dm-search-content input::placeholder {
            font-size: 1rem;
        }

        .dm-search-content i {
            font-size: 1rem;
        }

        .small-heading-fixed p {
            padding: 0;
            margin: 0;
            font-size: 12px;
            float: left;
            font-weight: 500;
            opacity: 0.8;
        }
    }
}



.bt-2 #activity-btn .modal-body-dms {
    line-height: normal;
    padding: 3%;
    padding-top: 1%;
    margin: 3%;

    .dms-main .dms-main-inner {
        .btn-bar button {
            font-size: 13px;
            float: left;
            padding: 0;
            margin: 0;
            font-weight: 600;
        }

        .btn-bar button i {
            font-size: 15px;
            float: left;
            font-weight: 600;
        }

        .btn-bar p {
            font-size: 13px;
            float: left;
            margin: 0;
            font-weight: 600;
            opacity: 0.9;
        }

        .dm-search-content {
            border: 1px solid #78757580;
            ;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 5%;
            padding-right: 5%;
        }

        .dm-search-content input {
            border: none;
            background-color: transparent;
            opacity: 0.8;
        }

        .dm-search-content input::placeholder {
            font-size: 1rem;
        }

        .dm-search-content i {
            font-size: 1rem;
        }

        .small-heading-fixed p {
            padding: 0;
            margin: 0;
            font-size: 12px;
            float: left;
            font-weight: 500;
            opacity: 0.8;
        }
    }

    .all-dms-main-scroll .fa-hashtag,
    .all-dms-main-scroll .fa-lock {
        color: white !important;
    }

    .all-dms-main-scroll::-webkit-scrollbar {
        display: none;
    }

    .all-dms-main-scroll {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .select-btns-activity .operation-btns-activity {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;

        .btn {
            margin: 0;
            padding: 0;
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
            cursor: pointer;
            outline: none;
            font-size: 14px;
            font-weight: 500;
        }
    }
}









.bt-4 {
    #profile-view-btn12 .modal-body {
        padding: 0;
        margin: 0;
    }

    #profile-view-btn12 .modal-body .profile-view-main-1 {

        // padding: 2%;

        .btn-bar {
            display: flex;
            justify-content: flex-start;
            border-bottom: 1px solid #858282c0;
            padding: 2%;
            padding-left: 0;

            .btn-m {
                display: flex;
                justify-content: start;
                align-items: center;
                margin: 0;
                padding-top: 1.3%;
                padding-bottom: 1.3%;
                font-size: 15px;
            }

            .btn-m i {
                font-size: 14px;
            }
        }


        .coverimg-section {

            .inner-coverimg {
                height: 140px;
            }

            .profile-image-section {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: -30%;



                .welcome-text {
                    font-weight: 600;
                    font-size: 1rem;
                    opacity: 0.8;
                }

                img {
                    width: 150px;


                }
            }
        }



        .profile-manages {
            padding: 4%;

            .inner-profile-manages {
                padding: 2%;

                .profilename {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    // padding: 2%;

                    h3 {
                        opacity: 0.8;
                        font-size: 1.1rem;
                        margin: 0;
                    }

                    .btn.gr {
                        font-size: 1rem;
                        font-weight: normal;
                        border: none;
                        margin: 0;
                        padding: 0;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }

                .add-name-pr {
                    display: flex;
                    flex-direction: column;

                    .btn {
                        font-size: 14px;
                        border: none;
                        padding: 0;
                        float: left;

                        .sdd {
                            color: #1c759c !important;
                            font-weight: 600 !important;
                            font-size: 0.9rem !important;
                        }

                        .sdd1 {
                            color: #1c759c !important;
                            font-weight: 600 !important;
                            font-size: 1rem;
                        }
                    }

                    .active-status {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        margin-top: 2%;
                        opacity: 0.95;
                        font-weight: 500;

                        .active-circle {
                            color: rgb(26, 160, 93) !important;
                            font-size: 10px !important;
                        }
                    }

                    .profiletimer {
                        font-weight: 600;
                        opacity: 0.95;
                        display: flex;
                    }


                    .profile-status-btns {
                        display: grid;
                        grid-template-columns: 10fr 10fr 1fr;
                        gap: 2%;

                        .dropdown,
                        .dropdown button {
                            padding: 0;
                            padding-top: 4px;
                            padding-bottom: 4px;
                            padding-left: 15px;
                            padding-right: 15px;
                            font-size: 1rem;
                            font-weight: 600;
                            width: 100%;
                        }

                        .dropdown-menu li a:hover {
                            background: #000 !important;
                        }
                    }
                }



                // contact scss ---------------------------------->
                .contact-info-main .contact-info-inner {
                    .contact-name {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .btn.gr {
                            border: none;
                            padding: 0;
                            padding-top: 4px;
                            padding-bottom: 4px;
                            padding-left: 15px;
                            padding-right: 15px;
                            font-size: 1rem;
                            font-weight: normal;
                        }
                    }

                    .contact-email-view {
                        line-height: normal;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        .contact-email-details {
                            display: flex;

                            .contact-email-img img {
                                width: 45px;

                            }

                            .email-desc {
                                display: flex;
                                flex-direction: column;
                                align-items: start;

                            }

                        }

                        .contact-add-number-btn {
                            display: flex;
                            flex-direction: column;
                        }

                        .contact-add-number-btn .btn {
                            border: none;
                            margin: 0;
                            padding: 0;
                            color: #1c759c !important;
                            font-size: 0.8rem;
                            font-weight: 500;
                            text-align: left;

                            &:hover {
                                text-decoration: underline;
                            }

                            .add-ph {
                                color: #1c759c !important;
                            }
                        }
                    }
                }
            }
        }


    }
}

//edit profile modal scss ------------------------------------------------------>

#prof-edit-btn12 .modal-body {
    line-height: normal;
    background: #00000077;

    .form-heading {
        text-align: center;

    }

    .form-heading h3 {
        font-size: 1.7rem !important;
    }

    .form-main .form-inner {
        padding: 6%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .profilephoto-update {
            line-height: normal;
            display: flex;
            flex-direction: column;
            align-items: center;
            // padding: 2%;

            label {
                cursor: pointer;
            }

            .remove {
                border: none;
                color: #1c759c !important;
                font-weight: 600;
                margin-top: -10px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }


        .input-fields-profile {
            .profile-label {
                font-weight: 600;
                opacity: 0.8;
                float: left;
            }


            .profile-input {
                font-weight: 600;
                opacity: 0.8;
                border: 1px solid #9d9c9c79;
            }

            .profile-input::placeholder {
                font-size: 1rem;
                opacity: 0.8;
            }

            .display-name-desc {
                opacity: 0.8;
                font-size: 11px;
                text-align: left;
            }
        }
    }
}

#prof-edit-btn12 .modal-content .modal-footer {
    background: #00000077;
    border-top: 1px solid rgba(159, 153, 153, 0.402);

    .gr-2 {
        background: var(--gr);
        font-weight: 600 !important;
    }

    .btn.close {
        border: none;
        font-size: 1rem;
        font-weight: 600;
        color: var(--solid) !important;
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }
}


//add dms buttn

.add-btn-dms {
    font-size: 14px;
    color: white;
    float: right !important;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.add-btn-dms i {
    color: white !important;
    font-size: 14px;
}

#add-coworker-btn1 .modal-content {
    padding: 5%;
    border: none;

}

#add-coworker-btn1 .modal-body {
    background: #00000088;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.452);
    border-radius: 10px;

    .add-channel-heading h4 {
        font-size: 1.6rem;
    }

    .label-colle {
        float: left;
    }

    .send-invites-btn .btn {
        padding: 0;
        margin: 0;
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
}



//activity btns add channels
.add-btn-activity {
    margin: 0;
    padding: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    font-weight: 500;
}

.add-btn-activity i {
    color: white !important;
    font-size: 14px;
}

#add-channel-btn1 .modal-content {
    padding: 5%;
    border: none;
}

#add-channel-btn1 .modal-body {
    background: #00000088;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.452);
    border-radius: 10px;

    .add-channel-heading h4 {
        font-size: 1.6rem;
    }

    .input-channel label {
        float: left;
    }

    .input-channel .add-channel-desc {
        text-align: left;
    }

    .visibility-name h6 {
        text-align: left;
    }

    .visibility-name ul {
        text-align: left;
    }

    .visibility-name input::placeholder,
    .input-channel input::placeholder {
        font-size: 1rem;
    }

    .visibility-name .inner-ul li {
        // float: left;
    }

    .modal-footer2 .create-channel {
        padding: 0 !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        font-size: 1rem;

    }

}