.c-container-main {
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    text-align: center;
}

.logo-1 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.email-inner p{
    width: fit-content;
    margin: auto;
   display: flex;
   justify-content: center;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
}

.email-inner a {
    text-decoration: none;
    color: white;
}

.email-inner a:hover {
    text-decoration: underline;
}

.mid-main-sec {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 2%;
}

.right-mid-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

.mid-main-sec img {
    width: 70%;
    margin-bottom: -20%;
    margin-left: -15%;
}

.back-img {
    border-radius: 100px 130px 130px 30px;
}

.right-sub {
    text-align: left;
}

.right-sub h1 {
    font-size: 3rem;
    padding-bottom: 5px;
}

.right-sub p {
    font-size: 15px;
    list-style: none;
    line-height: 25px;
}

.desc-3 {
    margin-top: 3%;
}

.btn11 {
    text-align: center;
}

.btn11 a {
    font-weight: 600;
    font-size: 1.2rem;
    width: 100%;
}

.tndImg {
    display: none;
}

.btn-c:focus {
    outline: none;
}

/* responsive */
@media (max-width:1110px) {

    .mid-main-sec {
        display: flex;
        flex-direction: column;
    }

    .tndImg {
        display: block;
    }

    .back-img2 {
        border-radius: 100px 130px 130px 30px;
        border-radius: 130px 100px 30px 130px;
    }

    .imgages-1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #131618;
        width: 100%;
    }

    .imgages-1 .bk-img {
        margin-top: -5%;
    }

    .top-email-sec {
        padding-bottom: 8%;
    }

    .right-mid-sub {
        margin-top: 10%;
        width: 100%;
        padding: 3%;
    }
}

@media (max-width:490px) {
    .right-sub p {
        font-size: 13px;
    }

    .right-sub h1 {
        font-size: 2.1rem;
    }
}

@media (max-width:356px) {
    .top-email-sec {
        font-size: 12px;
    }

    .email-inner {
        padding: 0;
        padding-left: 7%;
        padding-right: 7%;
        border-radius: 5px;
        background: transparent;
    }
}