//Definig mixins--------------------------------------------------->

@mixin tablet-Step4 {
    @media (max-width: 660px) {
        @content;
    }
}

@mixin mobile-landscape-Step4 {
    @media (max-width: 500px) {
        @content;
    }
}

@mixin extra-small-mobile-Step4 {
    @media (max-width: 400px) {
        @content;
    }
}

@mixin ultra-small-mobile-Step4 {
    @media (max-width: 377px) {
        @content;
    }
}




.mid-section-300 {
    display: grid;
    grid-template-columns: 1fr 2fr 8fr;
    height: 80vh;

    @include tablet-Step4 {
        display: grid;
        grid-template-columns: 1fr 10fr;
    }

    @include extra-small-mobile-Step4 {
        display: block;
        margin-top: 25%;
    }

    @include ultra-small-mobile-Step4{
        display: block;
    }
}

.mid-left-section-300 {
    overflow: hidden !important;
    max-height: 100vh;

    @include tablet-Step4 {
        display: none;
    }
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    @include ultra-small-mobile-Step4{
        border: none;
    }
}

.r-s-main-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4%;
    /* margin-left: -15%; */
    /* width: 65%; */
    padding: 9%;
    max-height: 100vh;
}

.right-inner-side-300 h1 {
    font-size: 3rem;

    @include tablet-Step4 {
        font-size: 2.8rem;
        line-height: 42px;
    }

    @include mobile-landscape-Step4 {
        font-size: 2.1rem;
        line-height: 42px;
        padding-bottom: 2%;
    }

    @include ultra-small-mobile-Step4 {
        font-size: 1.7rem;
        line-height: 30px;
        padding-bottom: 2%;
    }
}

.right-inner-side-300 .inp-1 {
    padding: 1.5%;
    padding-left: 3%;
    width: 100%;
    background: rgba(114, 114, 114, 0.219);
    border: 1px solid #2f3034;
    font-weight: 600;
    opacity: 0.8;
}

.right-inner-side-300 .inp-1::placeholder {
    font-weight: 600;
    opacity: 0.6;
    font-size: 1.1rem;
}

.steps {
    opacity: 0.7;
}

.checks {
    margin-top: 2%;
}

.btn-300 {
    width: 100%;
    margin-top: 2%;
}

.upload-heading {
    margin-top: 1%;
}

.mid-right-section-300 {
    overflow-y: auto;
    height: 80vh;
}

.mid-right-section-300::-webkit-scrollbar {
    display: none;
}



.btn-13 label,
.btn-13 a {
    color: #2f3034;
    font-weight: 600;
    cursor: pointer;
}
.upload-img{
    @include ultra-small-mobile-Step4{
        display: flex;
        justify-content: center;
    }
}
.upload-img img {
    width: 120px;
    height: 120px;
    @include ultra-small-mobile-Step4{
        width: 250px;
        height: 250px;
    }
}

.upload-desc-p {
    margin-top: -2%;
    font-size: 13px;
    opacity: 0.75;
}

.btn-300 a {
    width: 100%;
}

.btn-300 a:hover {
    color: white !important;
}


// new

.inner-sidebar ul {
    @include tablet-Step4 {
        margin-top: 99%;
    }
}

.right-inner-side-300 .r-desc p {
    @include mobile-landscape-Step4 {
        font-size: 13px;
    }

    @include ultra-small-mobile-Step4 {
        font-size: 13px;
    }
}

.mid-sidebar-section-300 {

    @include extra-small-mobile-Step4 {
        display: none;
    }

    @include ultra-small-mobile-Step4{
        display: none !important;
    }
}

.checks-optional-upload{
    @include ultra-small-mobile-Step4{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

// new end



/* Responsive */
// @media (max-width:660px) {
//     .right-inner-side-300 h1 {
//         font-size: 2.8rem;
//         line-height: 42px;
//     }

//     .mid-left-section-300 {
//         display: none;
//     }

//     .mid-section-300 {
//         display: grid;
//         grid-template-columns: 1fr 10fr;
//     }

//     .inner-sidebar ul {
//         margin-top: 99%;
//     }
// }

// @media (max-width:500px) {

//     .top-bar-container{
//         display: none  !important;
//     }
//     .right-inner-side-300 h1 {
//         font-size: 2.1rem;
//         line-height: 42px;
//         padding-bottom: 2%;
//     }

//     .right-inner-side-300 .r-desc p {
//         font-size: 13px;
//     }
//     /* .mid-section-300 .mid-right-section-300{
//         margin-top: -60%;
//     } */
// }
// @media (max-width:400px) {
//     .mid-sidebar-section-300 {
//         display: none;
//     }
//     .mid-section-300 {
//         display: block;
//         margin-top: 25%;
//     }
// }

// @media (max-width:377px) {
//     .top-bar-container{
//         display: none ;
//     }
//     .right-inner-side-300 h1 {
//         font-size: 1.7rem;
//         line-height: 30px;
//         padding-bottom: 2%;
//     }

//     .right-inner-side-300 .r-desc p {
//         font-size: 13px;
//     }

//     .mid-sidebar-section-300 {
//         display: none !important;
//     }

//     .mid-section-300 {
//         display: block;
//         /* margin-top: 80%; */
//     }

//     .right-side {
//         border: none;
//     }

//     .checks-optional-upload {
//         display: flex;
//         justify-content: center;
//         width: 100%;
//     }
//     .upload-img{
//         display: flex;
//         justify-content: center;
//     }
//     .upload-img img{
//         width: 250px;
//         height: 250px;
//     }
//     .upload-img .btn-13{
//         width: 250px;
//     }

// }